body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg);
      color: #f5f6f7;
    font-family: bahnschrift;
      font-size: 16px;
  }

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    border-radius: 15px;
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
    background-color: #00000099;
    border: white;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: -10px 0 0 0;
	width: 100%;
  min-height: 2em;
  margin: auto;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    font-family: bahnschrift;
    background-color: white;
    border-color: white;
    min-width: 300px;
  }

fieldset{
    border: 0;
}

select, :placeholder-shown{
    font-family: bahnschrift;
    font-size: 16px;
    color: grey;
}

input, textarea{
    font-family: bahnschrift;
    font-size: 16px;
    color: black;
}

input[type="text"], input[type="email"], input[type="number"], select{
    border-radius: 5px;
}